@import "./SASS/reset";
@import "./SASS/variables";


header {
  
  font-weight: 700;
  padding: 1rem 20px;
  background-color: $dark;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }
  button{
   border: none;
   background-color: transparent;
   color: $white;
  z-index: 99999;

  }
.logo {
  cursor: pointer;
  z-index: 99999;
  img{
    height: 3rem
  }
}
}



.container {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 95px;
  background-color: $primary;
  color: $white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarNav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;

}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
 font-size: 3rem;
 transition: all ease-out 0.5s;
 p{
  font-size: 1.2rem;
  text-transform: uppercase;
 }

 &:hover{
  color: $secondary;
 }
}

.navbarListItemName,
.navbarListItemNameActive {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}
.navbarListItemNameActive {
  color: #2c2c2c;
}



.mapContainer{
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 95px;
  background-color: grey;
  height: 82%;
  font-size: 3rem;
}








.btn {
  padding: 5px 20px;
  border: 1px solid #9097e1;
  border-radius: 5px;
  background: #9097e1;
  color: #333;
  font-size: 1.6rem;
  font-weight: 800;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  max-width: 960px;
  margin: auto;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #333;
  color: #62ebca;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: rgb(199, 68, 68);
  color: white;
  border: none;
}

.btn-back {
  width: 150px;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}


.btn-close {
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  transform: scale(0.98);
}

footer {
  position: -webkit-sticky;
  position: sticky;
  top: 95vh;
  text-align: center;
}


@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1100px) {
  .boxes {
    grid-template-columns: 1fr;
  }
  .form {
    width: 90%;
  }
  .ticket-created h2,
.heading h1 {
    font-size: 2rem;
  }
  .heading p {
    font-size: 1.5rem;
  }}